.leagueDetail, .topScorer{
    margin: 50px 200px;
}

@media screen and (max-width: 1024px) {
    .leagueDetail, .topScorer{
        margin: 20px 100px;
    }
}

@media screen and (max-width: 640px) {
    .leagueDetail, .topScorer{
        margin: 20px 5px;
    }
}