.leagueDetail, .topScorer{
    margin: 20px 200px 0px;
}

@media screen and (max-width: 1024px) {
    .leagueDetail, .topScorer{
        margin: 20px 100px;
    }
}

@media screen and (max-width: 640px) {
    .main{
        overflow-x: hidden;
    }
    .leagueDetail, .topScorer{
        margin: 20px 5px;
    }
}