.header {
  border-bottom: solid #000 3px;
  background: linear-gradient(
    to top,
    rgba(114, 105, 230, 0.774) 0%,
    rgb(5, 5, 238) 30%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;

  &>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .banner {
    .link {
      text-decoration: none;
      background-color: red;
    }
  }

  .info{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .name{
      color:rgba(255, 255, 255, 0.9);
      font-size: 1.5rem;
      margin: 0px 1.5rem;
      font-weight: bold;
    }
    .options{
      margin:  0px 3rem 0px 0.5rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .coins{
        color: yellow;
        border-bottom: 1px #aaa solid;
        padding-bottom: 0.4rem;
      }
      .logout{
        color: #aaa;
        text-decoration: none;
      }
    }
  }

  .dropdown {
    display: none;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
    // display: flex;
    align-items: center;
    &:hover {
      .menu,
      .menu::before,
      .menu::after {
        background-color: #999;
      }
    }
    .menu {
      display: block;
      width: 40px;
      height: 3px;
      background-color: #ccc;
      &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #ccc;
        transform: translateY(-12px);
        transition: all ease 0.2s;

      }
      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #ccc;
        transform: translateY(12px);
        transition: all ease 0.2s;
      }
    }
  }
  .dropdown.active {

    .menu {
      background-color: transparent;
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
.contain {
  display: flex;
  flex-direction: column;
  &>ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    // display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@media screen and (max-width: 13500px) {
  .header {
    .dropdown {
      display: flex;
    }
    &>ul{
      display: none;
    }
  }
  .contain {
    &>ul {
      display: flex;
    background-color: rgba(255, 255, 255, 0.9);
      max-height: 0px;
      // max-width: 0px;
      overflow: hidden;
      transition: ease 0.3s;
    }

    &>ul.active {
      // display: flex;
      max-height: 500px;
      // max-width: 500px;
      // animation: show 0.5s ease;
      transition: ease-in 0.3s;
      //   height: auto;
    }
  }
}

@media screen and (max-width: 1350px) {
  .cur{
    display: none;
  }
}


@media screen and (max-width: 720px){

    .contain{
      ul{
        position: absolute;
        top: 77px;
        
        align-self: flex-end;
        align-items: stretch;
        justify-content: stretch;
        max-width: 500px;
        flex-direction: column;
        flex-wrap: nowrap;
        li{
          // align-self: stretch;
          width: 100%;
        }
      }
    }
  
}